 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-image-1 {
  min-height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/flip22092524311_1026838d10_o.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Noto Serif";
  line-height: 1.2;
  margin: 197px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 126px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 61px auto 25px 20px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 688px;
  background-image: url("images/Philippines-Fintech-Requires-Robust-Cybersecurity-to-Fight-Off-Bad-Actors-1440x564_c.png");
  background-position: 72.27% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 18px;
}

.u-section-3 .u-image-2 {
  min-height: 317px;
  background-image: url("images/QUEYIXTDEZKZJE3BHQZQLZVD5A.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 371px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: "Noto Serif";
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    min-height: 600px;
  }

  .u-section-3 .u-image-2 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1324px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-4 .u-group-1 {
  min-height: 1276px;
  height: auto;
  margin: 0 0 2px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-family: "Noto Serif";
  line-height: 1.2;
  margin: 85px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1022px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-5 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-6 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-7 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
}

.u-section-4 .u-container-layout-9 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-8 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-9 {
  background-image: none;
}

.u-section-4 .u-container-layout-10 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-9 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-10 {
  background-image: none;
}

.u-section-4 .u-container-layout-11 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-10 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-11 {
  background-image: none;
}

.u-section-4 .u-container-layout-12 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-11 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-12 {
  background-image: none;
}

.u-section-4 .u-container-layout-13 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-12 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-13 {
  background-image: none;
}

.u-section-4 .u-container-layout-14 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-13 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-14 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-14 {
  background-image: none;
}

.u-section-4 .u-container-layout-15 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-14 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-15 {
  background-image: none;
}

.u-section-4 .u-container-layout-16 {
  padding: 19px 30px 12px;
}

.u-section-4 .u-icon-15 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-16 {
  font-family: "Noto Serif";
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 837px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1516px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 31px;
}

.u-section-5 .u-text-1 {
  font-family: "Noto Serif";
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "Noto Serif";
  font-size: 1.25rem;
  margin: 29px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 650px;
  background-image: url("images/a-business-owner-utilizing-best-practices-from-a-cybersecurity-checklist.jpg");
  background-position: 73.29% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-5 .u-image-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 411px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 617px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-image-1 {
    min-height: 388px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 106px;
}

.u-section-6 .u-group-1 {
  min-height: 106px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 650px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 650px;
  background-image: url("images/security_computer_crime_hacker_hacking_thinkstock_608516150-100750000-large.jpg");
  background-position: 47.53% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 31px;
}

.u-section-7 .u-text-1 {
  font-family: "Noto Serif";
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-family: "Noto Serif";
  font-size: 1.25rem;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 318px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-7 .u-image-1 {
    min-height: 536px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-7 .u-image-1 {
    min-height: 411px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-7 .u-image-1 {
    min-height: 617px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-7 .u-image-1 {
    min-height: 388px;
  }
}